<div class="container text-3xl">
  <h1 class="text-5xl font-bold">About me</h1>
  <p>Hi, my name is Hector Manuel Barrios</p>
  <p>And I'm a software developer</p>
  <p>I like to code</p>

  <h2 class="text-3xl font-bold">My social networks</h2>
  <p>Twitter: @hecto13</p>
  <p>GitHub: <%= link_to "hector98", "https://github.com/hector98", target: "_blank" %></p>
  <p>Linkedin: <%= link_to "hector-manuel-barrios", "www.linkedin.com/in/héctor-manuel-b-3960b2117" %></p>
</div>
