<div class="bg-slate-800 h-screen w-1/4 left-0 text-3xl font-bold">
  <nav class="py-12 px-4">
    <ul>
      <li class="mb-4"><%= link_to "New Post", new_post_path %></li>
      <li class="mb-4"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Posts", posts_path %></li>
    </ul>
  </nav>
</div>
